<!-- <h3>Multiple Module</h3> -->
<!-- <div class=""> -->
<div class="row header">
    <!-- <span><a><img src="../assets/images/logo1.png" class="main-logo" alt="Vehicle share"></a></span> -->
<a class=" col-md-3 col-sm-3 col-xs-3" routerLink="/first">Home</a>
<a class=" col-md-3 col-sm-3 col-xs-3" routerLink="/second">Services</a>
<a class=" col-md-3 col-sm-3 col-xs-3" routerLink="/about-us">About us</a>
<a class=" col-md-3 col-sm-3 col-xs-3" routerLink="/contact-us">Contact Us</a>
</div>
<!-- <div> -->
<router-outlet></router-outlet>